@font-face {
  font-family: FlipClock;
  src: url(/assets/FLIPclockblack.ttf) format("truetype");
}
@font-face {
  font-family: CenturyGothic;
  src: url(/assets/GOTHIC.TTF) format("truetype");
}

:host {
  min-height: 100vh;
  background-color: var(--sec-1-color);
  backdrop-filter: blur(10px);
  z-index: 1;
  margin-top: 100vh;
  position: relative;
}

.about-header {
  display: flex;
  height: 30vh;
  background-color: var(--section-hf-bg-color);
  clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 60% 90%, 40% 50%, 0% 100%);
}

.core-description {
  background-color: var(--dark-color);
  color: var(--text-light);
  clip-path: polygon(0% 40%, 40% 10%, 60% 30%, 100% 0%, 100% 100%, 60% 80%, 20% 90%, 0% 70%);
  margin-top: -160px;
  padding: 190px 180px 150px;


  .description-text, p {
    transform: rotate(2deg);
  }

  p {
    font-size: 20px;
  }

  p a {
    color: #4b2fda;

    &:hover {
      color: #685ab0;
    }
  }

  .description-text {
    font-size: 24px;
  }
}

.why-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
  margin-top: 50px;
  margin-bottom: 160px;

  .why-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
  }

  .why-panel-label {
    text-align: center;
    font-size: 20px;
    color: var(--text-light);
  }

  .dark-panel {
    background-color: var(--about-panel-bg-color);
  }

  .badui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 300px;
    position: relative;

    .toggle {
      width: 50px;
      height: 30px;
      border-radius: 15px;
      background: var(--about-panel-bg-color);
      background: linear-gradient(0deg, var(--about-panel-bg-color) 00%, var(--about-panel-bg-color) 49.99%, #00000000 50%, #00000000 100%);
      margin-bottom: -15px;
      position: absolute;
      cursor: pointer;

      &:hover {
        .toggle-thingy {
          transform: scale(1.5);
        }
      }

      &.activated {
        .toggle-thingy {
          left: 30px;
          background-color: var(--light-color);
        }

        .toggle-line {
          border-color: var(--light-color);
        }
      }

      .toggle-thingy {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: gray;
        bottom: 10px;
        left: 8px;
        transition: all ease-in-out 0.25s;
      }

      .toggle-line {
        position: absolute;
        width: 20px;
        bottom: 14px;
        left: 15px;
        border-top: 1px solid gray;
        transition: all ease-in-out 0.25s;
      }
    }
  }

  .clock-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

    .clock {
      padding: 10px;
      background-color: var(--light-color);
    }

    @keyframes blink {
      0%  {font-weight: bold;}
      5%  {font-weight: normal;}
      10%  {font-weight: bold;}
    }

    .txt {
      margin-top: -18px;
      font-family: FlipClock;
      font-size: 60px;
      font-weight: bold;
      animation: blink 1s infinite;
      color: var(--text-dark);
    }
  }

  .location {
    text-align: center;
    color: var(--text-light);
  }

  .location,
  .intro,
  .hobbies {
    padding: 20px;
  }

  .hobbies {
    margin-top: 20px;
  }
}

.website-example {
  background-color: var(--light-color);
  margin: 20px;
  height: 100%;

  &, & * {
    transition: all ease-in-out 0.5s;
  }

  b, p {
    font-size: 10px;
  }

  > b {
    color: var(--text-dark);
    text-align: left;
  }

  .dumb-container {
    border: 2px solid #f4f4f4;
    padding: 5px;
    margin: 10px 20px 10px 5px;
    width: 100%;

    > b {
      color: #F00;
    }

    > p {
      color: #00F;
    }
  }

  img {
    float: right;
    padding: 5px;
  }
}

.new-ui {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  > b {
    z-index: 1;
    text-align: center;
  }

  b:first-child {
    font-size: 20px;
    font-family: CenturyGothic;
    text-transform: uppercase;
    color: var(--text-light);
    margin-top: 5px;
  }

  b:nth-child(2) {
    color: #999;
    font-weight: normal;
  }

  .dumb-container {
    margin: 15px;
    width: 50%;
    border-width: 1px;
    box-shadow: 4px 4px 0px 0px var(--light-color);

    > b {
      color: var(--text-light);
      font-size: 12px;
    }

    img {
      position: absolute;
      top: 35px;
      right: -20px;
      transform: scale(2.5);
      filter: blur(2px);
      opacity: 0.4;
    }

    p {
      color: var(--text-light);
      font-size: 9px;
      margin-top: 5px;
    }
  }
}

.header-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30vh;
  background-color: var(--section-hf-bg-color);
  clip-path: polygon(0% 70%, 30% 90%, 50% 40%, 70% 70%, 80% 60%, 100% 70%, 100% 100%, 0% 100%);
}
