<div class="about-header">
  <h1 class="fkmn-section-title">
    Why Franco?
    ➜
  </h1>
</div>
<div class="core-description">
  <p>
    I'm a Computer Science Engineer. After participating in multiple web projects I got completely hooked on how
    user interfaces are displayed, and what I could do to make them evolve into something greater.
  </p>
  <br/>
  <h2 class="description-text">
    Since then, I have learned and mastered my notion of style and coding on a Attention-To-Detail approach,
    to lead projects and digital products to meet strong high-quality standards.
  </h2>
  <br/>
  <p>
    I love videogames since I was 7 <a href="javascript:void(0)">(own section - coming soon)</a>.
    And I love filling up my passport with urban traveling - which is why I can't stop quoting plane tickets for my next country to visit.
  </p>
</div>
<div class="why-container">
  <div class="why-panel">
    <div class="badui dark-panel">

      <div class="website-example" [class.new-ui]="enableCSS">
        <b>This small section MUST be
          <span [style.font-style]="enableCSS ? 'italic': 'unset'">revamped</span>
        </b><b> - October 17, 2022</b>
        <div class="dumb-container">
          <b>A{{ enableCSS ? ' not so ' : 'n' }} average section</b>
          <img [src]="'assets/orange'+ (enableCSS ? '.png' : '.jpg')">
          <p>
            I mean, small things like this should be ignored as they are close to unsignificance.
            <br/><br *ngIf="enableCSS"/>
            I could have used Lorem ipsum here but perhaps a certain level of detail can be reached by dropping a sentence or two. It filled the textbox, at least 😅.
          </p>
        </div>
      </div>

      <div class="toggle" [class.activated]="enableCSS" (click)="toggleCSS()">
        <div class="toggle-thingy"></div>
        <div class="toggle-line"></div>
      </div>
    </div>
    <p class="why-panel-label">I am addicted to pixel-perfection and eye-pleasant User Interfaces.</p>
  </div>
  <div class="why-panel">
    <p class="why-panel-label">Currently I'm working {{remoteWork ? 'remotely' : ''}} from</p>
    <div class="dark-panel location">
      <h3>📍 {{ currentLocation }}<br>({{ currentTimezone }})</h3>
    </div>
  </div>
  <div class="why-panel">
    <p class="why-panel-label">As of {{ currentDay | date: 'mediumDate' }},<br>I have aprox.</p>
    <div class="dark-panel clock-wrapper">
      <div class="clock">
        <div class="txt">{{ elapsedWorkXP }}</div>
      </div>
    </div>
    <p class="why-panel-label">of work experience on Web development</p>
  </div>
</div>
<div class="header-footer">
</div>
