<div class="close-button" (click)="close()">X</div>

<div class="country-details">
  <h1>{{countryData.name}}</h1>
  <div class="detail-item">
    <h2 class="detail-label">Cities</h2>
    <hr class="detail-separator">
    <h2 class="detail-count" *ngIf="countryData.cities;else justTransit">{{countryData.cities.length}}</h2>
    <ng-template #justTransit>
      <div class="just-transit-label">
        <h2 class="detail-count">0</h2>
        <span>&nbsp; ͢ &nbsp;&nbsp;Just transit.</span>
      </div>
    </ng-template>
  </div>

  <div id="airports" class="detail-item">
    <h2 class="detail-label">Airports</h2>
    <hr class="detail-separator">
    <h2 class="detail-count">{{countryData.airports.length}}</h2>

    <div class="airport-tags-wrapper" [class.shrink]="countryData.airports.length > 4">
      <div class="airport-tag" *ngFor="let item of countryData.airports">
        <span class="flight-info">{{item.flightDate}}<br/>{{item.flightNumber}}</span>

        <div class="airport-name">
          <h2>{{item.code}}</h2>
        </div>
        <span class="city-name">{{item.city}}</span>
        <span class="airport-name-long">{{item.name}}</span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWbrvkO8ROOkvZpB-7MLMIcd9hny6bOKKTEQ&s"/>
      </div>
    </div>
  </div>
</div>