<div class="map-wrapper">
  <object type="image/svg+xml" data="assets/countries/br.svg"></object>
  <object type="image/svg+xml" data="assets/countries/pe.svg"></object>
  <object type="image/svg+xml" data="assets/countries/cl.svg"></object>
  <object type="image/svg+xml" data="assets/countries/bo.svg"></object>
  <object type="image/svg+xml" data="assets/countries/us.svg"></object>
  <object type="image/svg+xml" data="assets/countries/tr.svg"></object>
  <object type="image/svg+xml" data="assets/countries/eg.svg"></object>
  <object type="image/svg+xml" data="assets/countries/es.svg"></object>
  <object type="image/svg+xml" data="assets/countries/ar.svg"></object>
  <object type="image/svg+xml" data="assets/countries/jp.svg"></object>
</div>
