:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--countries-bg-color);
}

.map-wrapper {
  height: 100vh;
  position: relative;
  width: 800px;
  margin: 90px auto 0;
}

.map-disclaimer {
  position: absolute;
  top: 140px;
  left: 106px;
  color: var(--light-color);
  font-size: 10px;
  z-index: 2;
}

.country-object {
  display: flex;
  width: 230px;
  height: 230px;
  position:absolute;
  pointer-events: none;

  .country-map {
    cursor: pointer;
    transform: scale(1);
    transition: transform ease-in-out 400ms;
    pointer-events: all;

    &:hover {
      transform: scale(1.2);
    }

    object {
      width: 100%;
      pointer-events: none;
    }
  }

  h2 {
    color: var(--light-color);
    text-shadow: 0px 0px 4px var(--dark-color);
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: opacity ease-in-out 400ms;
    pointer-events: none;

    &.hovered {
      opacity: 1;
    }
  }

  &.selected {
    top: 240px !important;
    left: 150px !important;
    z-index: 1001;
    transform: scale(2) !important;

    .country-map {
      transform: scale(1) !important;
      cursor: default;
    }
  }

  &.ar {
    top: 62%;
    left: 22%;

    .country-map {
      clip-path: polygon(32% 48%, 34% 23%, 37% 7%, 43% 0%, 54% 0%, 57% 6%, 63% 6%, 65% 11%, 75% 8%, 70% 18%, 67% 18%, 62% 28%, 68% 41%,
      66% 46%, 57% 46%, 46% 68%, 47% 72%, 40% 85%, 42% 97%, 51% 97%, 52% 100%, 37% 100%, 35% 89%, 26% 88%, 28% 73%, 31% 68%, 31% 61%,
      29% 60%, 29% 52%);
      transform: scale(1) rotate(20deg);

      &:hover {
        transform: scale(1.2) rotate(20deg);
      }
    }
  }

  &.bo {
    top: 30%;
    left: 17%;

    .country-map {
      clip-path: polygon(7% 58%, 8% 42%, 12% 22%, 6% 8%, 17% 10%, 28% 3%, 39% 0%, 40% 1%, 37% 7%, 43% 20%, 51% 20%, 64% 29%, 74% 29%,
      75% 43%, 76% 47%, 89% 47%, 93% 64%, 92% 80%, 90% 80%, 83% 73%, 65% 74%, 59% 95%, 48% 92%, 45% 98%, 32% 94%, 24% 100%, 19% 100%,
      17% 90%, 13% 82%);
      transform: scale(1) rotate(-10deg);

      &:hover {
        transform: scale(1.2) rotate(-10deg);
      }
    }
  }

  &.br {
    top: 60%;
    left: 46%;

    .country-map {
      clip-path: polygon(1% 31%, 5% 23%, 11% 23%, 13% 9%, 34% 0%, 36% 0%, 38% 9%, 47% 8%, 47% 6%, 56% 2%, 61% 11%, 88% 21%, 97% 27%,
      99% 31%, 95% 39%, 90% 43%, 88% 59%, 84% 68%, 65% 78%, 66% 81%, 61% 91%, 54% 100%, 52% 100%, 48% 92%, 44% 91%, 42% 87%, 51% 81%,
      45% 68%, 42% 68%, 39% 62%, 42% 59%, 22% 41%, 12% 41%, 4% 38%);
      transform: scale(1) rotate(20deg);

      &:hover {
        transform: scale(1.2) rotate(20deg);
      }
    }
  }
  &.cl {
    top: 62%;
    left: 6%;

    .country-map {
      clip-path: polygon(41% 60%, 51% 9%, 51% 0%, 53% 0%, 60% 13%, 51% 32%, 54% 38%, 49% 58%, 51% 62%, 49% 88%, 55% 88%, 60% 100%, 51% 100%,
      47% 97%, 40% 84%);
    }
  }
  &.eg {
    top: 38%;
    left: 67%;

    .country-map {
      clip-path: polygon(0% 6%, 23% 6%, 38% 11%, 45% 6%, 62% 6%, 78% 9%, 86% 26%, 75% 47%, 88% 73%, 92% 73%, 90% 84%, 100% 89%, 100% 94%,
      4% 95%, 1% 92%, 1% 27%, 0% 27%);
      transform: scale(1) rotate(35deg);

      &:hover {
        transform: scale(1.2) rotate(35deg);
      }
    }
  }
  &.jp {
    top: 62%;
    left: 72%;

    .country-map {
      clip-path: polygon(12% 87%, 14% 82%, 30% 68%, 44% 68%, 52% 51%, 60% 49%, 60% 21%, 59% 19%, 66% 5%, 64% 0%, 70% 0%, 79% 8%, 84% 5%,
      88% 13%, 76% 24%, 66% 21%, 75% 39%, 72% 47%, 72% 63%, 69% 70%, 64% 74%, 52% 74%, 49% 82%, 28% 89%, 23% 100%, 18% 100%);
    }
  }
  &.ma {
    top: 25%;
    left: 46%;

    .country-map {
      clip-path: polygon(2% 99%, 17% 68%, 26% 54%, 35% 54%, 37% 49%, 42% 46%, 43% 38%, 53% 16%, 62% 16%, 66% 1%, 77% 2%, 93% 8%, 98% 27%,
      88% 29%, 80% 39%, 70% 46%, 61% 46%, 53% 52%, 53% 65%, 51% 69%, 33% 69%, 33% 82%, 31% 87%, 25% 91%, 29% 99%);
    }
  }
  &.pe {
    top: 30%;
    left: -7%;

    .country-map {
      clip-path: polygon(14% 26%, 18% 18%, 24% 18%, 22% 24%, 29% 25%, 34% 15%, 40% 15%, 48% 4%, 47% 0%, 53% 0%, 54% 3%, 65% 12%, 76% 12%,
      79% 18%, 78% 24%, 64% 28%, 58% 41%, 63% 52%, 76% 48%, 86% 68%, 84% 90%, 79% 100%, 74% 100%, 43% 81%, 41% 69%, 35% 63%, 23% 38%,
      19% 36%);
    }
  }
  &.es {
    top: 8%;
    left: 37%;

    .country-map {
      clip-path: polygon(0% 20%, 2% 16%, 10% 13%, 14% 13%, 15% 16%, 55% 16%, 63% 22%, 78% 22%, 79% 24%, 92% 25%, 92% 33%, 70% 48%, 67% 60%,
      91% 48%, 100% 48%, 100% 52%, 94% 51%, 92% 57%, 64% 64%, 65% 72%, 58% 72%, 54% 81%, 37% 81%, 33% 87%, 24% 87%, 12% 71%, 15% 65%,
      12% 54%, 21% 34%, 3% 34%);
      transform: scale(1) rotate(-10deg);

      &:hover {
        transform: scale(1.2) rotate(-10deg);
      }
    }
  }
  &.tr {
    top: 11%;
    left: 75%;

    .country-map {
      clip-path: polygon(0% 41%, 6% 28%, 11% 28%, 14% 34%, 33% 34%, 34% 31%, 48% 28%, 60% 36%, 78% 37%, 79% 34%, 89% 34%, 97% 43%, 97% 55%,
      100% 61%, 100% 65%, 91% 63%, 74% 67%, 57% 67%, 54% 74%, 45% 67%, 41% 70%, 34% 70%, 27% 65%, 24% 70%, 17% 70%, 9% 67%, 3% 55%);
      transform: scale(1) rotate(20deg);

      &:hover {
        transform: scale(1.2) rotate(20deg);
      }
    }
  }
  &.us {
    top: 6%;
    left: 5%;

    .country-map {
      clip-path: polygon(0% 40%, 6% 20%, 17% 20%, 62% 26%, 70% 30%, 77% 38%, 85% 30%, 95% 23%, 100% 27%, 100% 29%, 90% 50%, 90% 56%,
      82% 66%, 88% 79%, 82% 80%, 78% 71%, 66% 71%, 63% 74%, 60% 71%, 78% 71%, 57% 71%, 49% 80%, 45% 80%, 40% 70%, 38% 74%, 33% 74%, 29% 65%,
      26% 68%, 23% 68%, 9% 61%, 3% 54%);
      transform: scale(1) rotate(-10deg);

      &:hover {
        transform: scale(1.2) rotate(-10deg);
      }
    }
  }
}
