<app-back-button>PS Trophies</app-back-button>
<div *ngIf="!loading" class="trophy-summary">
  <div class="trophy-summary-items">
    <div class="trophy-summary-item">
      <span class="trophy-summary-item-count">{{trophiesSummary.platinum}}</span>
      <img src="/assets/trophy-platinum.png" alt="trophy"/>
    </div>
    <div class="trophy-summary-item">
      <span class="trophy-summary-item-count">{{trophiesSummary.gold}}</span>
      <img src="/assets/trophy-gold.png" alt="trophy"/>
    </div>
    <div class="trophy-summary-item">
      <span class="trophy-summary-item-count">{{trophiesSummary.silver}}</span>
      <img src="/assets/trophy-silver.png" alt="trophy"/>
    </div>
    <div class="trophy-summary-item">
      <span class="trophy-summary-item-count">{{trophiesSummary.bronze}}</span>
      <img src="/assets/trophy-bronze.png" alt="trophy"/>
    </div>
  </div>
  <div class="trophy-level">
    <div class="badge-wrapper">
      <img src="/assets/badge.png" alt="trophy"/>
      <span class="trophy-summary-item-count">Level: {{trophiesLevel.pslevel}}</span>
    </div>
    <div class="total-wrapper">
      <span>Total trophies:</span>
      <span class="trophy-summary-item-count">{{trophiesLevel.total}}</span>
    </div>
  </div>
</div>

<div class="games-container" *ngIf="!loading else loadingComp">
  <div class="game-item" 
       *ngFor="let item of trophiesData; let i = index" 
       [class.edge-item]="isEdgeItem(i)">
    <div class="game-item-img-wrapper angle-perspective">
      <div class="game-item-img" [class.is-ps3]="item.console === 'PS3'" [ngStyle]="{
        'background-image':'url(' + item.imgUrl + ')',
        'height': item.console == 'PS3' ? '104px' : '110px'
      }"></div>
    </div>
    <div class="game-item-info angle-perspective">
      <div class="game-item-title">
        <h3>{{item.name}}</h3>
        <span class="console-tag">{{item.console}}</span>
      </div>

      <div class="trophies-container">
        <div *ngFor="let trophyType of getTrophiesObj(item.trophies)" class="trophy-item">
          <span class="trophy-count">{{trophyType[1]}}</span>
          <img src="/assets/trophy-{{trophyType[0]}}.png" alt="trophy"/>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingComp>
  <app-loading></app-loading>
</ng-template>
