<div class="cr-footer">
  <span>Background icons, the Official [F] logo and website, developed + designed on-the-go* by Franco Montiel.</span>
  <!-- <span>Contents of this website can, and must, eventually change whenever extra time to improve is found.</span> -->
  <span class="dotg-disclaimer">
    * Designed without a proper wireframing tool that would have helped the conception process to be x% lighter.
    <br/>
    Figma will be eventually added to the skillset on a priority basis.
  </span>

  <div class="last-container">
    <app-sm-icons></app-sm-icons>
    <b>© {{currentYear}} Franco Montiel. All rights reserved</b>
  </div>
</div>
