<nav>
  <div class="navbar-icon" [routerLink]="['/']" fragment="home">
    <object type="image/svg+xml" data="assets/f-logo.svg"></object>
    <span class="version">v1.0.2</span>
  </div>

  <div class="navbar-button-wrapper" [class.show-buttons]="showButtons">
    <div class="navbar-button" *ngFor="let item of routes">
      <div *ngIf="!!item.fragment; else external" [routerLink]="['/']" [fragment]="item.fragment">
        {{ item.title }}
      </div>
      <ng-template #external>
        <div [routerLink]="['/' + item.route]">
          {{ item.title }}
        </div>
      </ng-template>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
