<div class="sm-icon-wrapper" (click)="window.open('https://linkedin.com/in/thefrankemon', '_blank')">
  <object type="image/svg+xml" data="assets/linkedin.svg"></object>
</div>
<div class="sm-icon-wrapper" (click)="window.open('https://github.com/thefrankemon', '_blank')">
  <object type="image/svg+xml" data="assets/github.svg"></object>
</div>
<div class="sm-icon-wrapper" (click)="window.open('https://instagram.com/thefrankemon', '_blank')">
  <object type="image/svg+xml" data="assets/ig.svg"></object>
</div>
