@mixin colorVars {
  /* Section colors */
  #{--main-bg-color}:
    radial-gradient(circle at 80% 120%, #0AC0B7 20%, #00000000 60%),
    radial-gradient(circle at 60% 110%, #374fff 30%, #00000000 75%);

  #{--main-bg-color-later}:
    radial-gradient(farthest-corner at 70% 90%, #FFFFFF 0%, transparent 50%),
    linear-gradient(10deg, #000000 10%, #747474 75%, #dfdfdf 97%, #FFFFFF 100%);

  #{--main-bg-color-ps}: radial-gradient(circle at 70% 250%, #374fff 0%, #292929 90%);

  #{--section1-bg-color}: #110066C2;
  #{--section2-bg-color}: #00123EC2;
  #{--section-break-bg-color}: #FFFFFF;

  /* Base monochromatic colors */
  #{--dark-color}: #1F2020;
  #{--mid-color}: #808080;
  #{--light-color}: #FFFFFF;

  /* Text color variables */
  #{--text-dark}: var(--dark-color);
  #{--text-light}: var(--light-color);

  /* Element-specific color variables */
  #{--about-panel-bg-color}: #00000030;
  #{--workxp-panel-bg-color}: #FFFFFF26;

  #{--gold-color}: linear-gradient(15deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  #{--success-color}: #0AC0B7;

}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0px;
  @include colorVars;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

h1 {
  font-size: 50px;
}

.fkmn-section-title {
  margin: 50px 50px 0px;
  color: var(--text-dark);
}

// MOBILE
@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
    line-height: 1;
  }

  .fkmn-section-title {
    margin: 50px 20px 0px;
  }
}
