@mixin colorVars {
  /* Section colors */
  #{--main-bg-color}: linear-gradient(3deg, #000000 10%, #747474 75%, #dfdfdf 97%, #ffffff 100%);
  #{--sec-1-color}: #110066BF;
  #{--sec-2-color}: #061292D1;

  /* Base monochromatic colors */
  #{--dark-color}: #1F2020;
  #{--mid-color}: #E1E3E3;
  #{--light-color}: #FFFFFF;

  /* Text color variables */
  #{--text-dark}: var(--dark-color);
  #{--text-light}: var(--light-color);

  /* Element-specific color variables */
  #{--about-panel-bg-color}: #00000030;
  #{--workxp-panel-bg-color}: #FFFFFF26;

  #{--gold-color}: linear-gradient(15deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);

  #{--section-hf-bg-color}: #FFFFFF;
}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0px;
  @include colorVars;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

h1.fkmn-section-title {
  transform: rotate(-11deg);
  margin: 100px 50px 0px;
  font-size: 50px;
  color: var(--text-dark);
}
