@mixin colorVars {
  /* Section colors */
  #{--main-bg-color}:
    radial-gradient(farthest-corner at 30% 100%, #15FFE863 0%, transparent 40%),
    radial-gradient(farthest-corner at 70% 90%, #D574B9AD 0%, transparent 80%),
    linear-gradient(10deg, #000000 10%, #747474 75%, #DFDFDF 97%, #FFFFFF 100%);

  #{--main-bg-color-later}:
    radial-gradient(farthest-corner at 70% 90%, #FFFFFF 0%, transparent 50%),
    linear-gradient(10deg, #000000 10%, #747474 75%, #dfdfdf 97%, #FFFFFF 100%);
  
  #{--sec-1-color}: #110066C2;
  #{--sec-2-color}: #00123EC2;

  /* Base monochromatic colors */
  #{--dark-color}: #1F2020;
  #{--mid-color}: #808080;
  #{--light-color}: #FFFFFF;

  /* Text color variables */
  #{--text-dark}: var(--dark-color);
  #{--text-light}: var(--light-color);

  /* Element-specific color variables */
  #{--about-panel-bg-color}: #00000030;
  #{--workxp-panel-bg-color}: #FFFFFF26;

  #{--gold-color}: linear-gradient(15deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);

  #{--section-hf-bg-color}: #FFFFFF;
}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0px;
  @include colorVars;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

h1.fkmn-section-title {
  transform: rotate(-11deg);
  margin: 100px 50px 0px;
  font-size: 50px;
  color: var(--text-dark);
}
