:host {
  display: flex;
  flex-direction: column;
}

.blurry {
  .titles,
  img {
    opacity: 0;
  }
}

.header {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: var(--light-color);
  background: var(--main-bg-color);
  transition: background-position ease-in-out 1s;

  &.high-contrast {
    background: var(--main-bg-color-later);
    background-position: 0px;
  }

  .dsg-mode {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    > img {
      position: absolute;
      height: 100%;
      width: auto;
      right: 90px;
      transition: opacity ease-in-out 0.5s;
    }

    .content {
      margin-right: 5%;

      .tray {
        width: 100vw;
        height: 100vh;

        $total: 17;
        @for $i from 1 through $total {
          //                               was 1/80
          $scale: scale(((($i - 1) * 0.9) * 0.0125) + 1.1);
          // OldRange = (OldMax - OldMin)
          // OldRange = (17 - 1) = 16
          // NewRange = (NewMax - NewMin)
          // NewRange = (2 - 1.1) = 0.9
          // NewValue = (((OldValue - OldMin) * NewRange) / OldRange) + NewMin
          // NewValue = (((x - 1) * 0.9) / 16) + 1.1

          object:nth-child(#{$i}){
            left: random(100) * 1% - 5;
            animation: raise#{$i} 6 + random(15) +s linear infinite;
            animation-delay: random(17) + s;
            transform: $scale;
            z-index: $i - 7;
            filter: blur(0.175 * $i + px);

            @keyframes raise#{$i} {
              to{
                bottom:120vh;
                transform: $scale rotate((random(180) - 90) + deg);
              }
            }
          }
        }

        object {
          width: 192px;
          height: 192px;
          position:absolute;
          bottom: -25vh;
          transform-style: preserve-3d;
        }
      }
    }

    .titles {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      margin-left: 180px;
      position: absolute;
      z-index: 5; //in-between floating icons
      transition: opacity ease-in-out 0.5s;
  
      .f-hello, .f-name {
        color: var(--text-light);
      }
  
      .f-hello {
        font-size: 70px;
      }
  
      .f-name {
        font-weight: 100;
        font-size: 70px;
      }

      .f-subtitle {
        font-size: 30px;
        text-transform: uppercase;
        transform: translate(15px, -12px) rotateZ(-3deg);
        background-color: goldenrod;
        font-family: 'Courier New', Courier, monospace;
        color: var(--text-dark);
      }
    }
  }
}

.header-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30vh;
  background-color: var(--section-hf-bg-color);
  clip-path: polygon(10% 60%, 90% 90%, 100% 0%, 100% 100%, 0% 100%);

  app-sm-icons {
    position: absolute;
    bottom: 30px;
    left: 10%;
    transform: rotate(3.5deg);
  }
}
