<div class="header">
  <div class="dsg-mode" [class.blurry]="blurryFranco">
    <img src="/assets/fm.png"/>
    <div class="content">
      <div class="titles">
        <h2 class="f-hello">Hello!&nbsp;&nbsp;I'm</h2>
        <p class="f-name">Franco Montiel</p>
        <p class="f-subtitle">UI-driven Frontend web developer</p>
      </div>
      <div class="tray">
        <object type="image/svg+xml" data="assets/svg/ban.svg"></object>
        <object type="image/svg+xml" data="assets/svg/bkg.svg"></object>
        <object type="image/svg+xml" data="assets/svg/des.svg"></object>
        <object type="image/svg+xml" data="assets/svg/dog.svg"></object>
        <object type="image/svg+xml" data="assets/svg/hkg.svg"></object>
        <object type="image/svg+xml" data="assets/svg/met.svg"></object>
        <object type="image/svg+xml" data="assets/svg/mus.svg"></object>
        <object type="image/svg+xml" data="assets/svg/nes.svg"></object>
        <object type="image/svg+xml" data="assets/svg/peb.svg"></object>
        <object type="image/svg+xml" data="assets/svg/pep.svg"></object>
        <object type="image/svg+xml" data="assets/svg/pok.svg"></object>
        <object type="image/svg+xml" data="assets/svg/ps4.svg"></object>
        <object type="image/svg+xml" data="assets/svg/qrp.svg"></object>
        <object type="image/svg+xml" data="assets/svg/rai.svg"></object>
        <object type="image/svg+xml" data="assets/svg/ram.svg"></object>
        <object type="image/svg+xml" data="assets/svg/yog.svg"></object>
        <object type="image/svg+xml" data="assets/svg/yug.svg"></object>
      </div>
    </div>
  </div>
</div>
<div class="header-footer">
  <div class="sm-icons">
    <div class="sm-icon-wrapper" (click)="window.open('https://linkedin.com/in/thefrankemon', '_blank')">
      <object type="image/svg+xml" data="assets/linkedin.svg"></object>
    </div>
    <div class="sm-icon-wrapper" (click)="window.open('https://github.com/thefrankemon', '_blank')">
      <object type="image/svg+xml" data="assets/github.svg"></object>
    </div>
    <div class="sm-icon-wrapper" (click)="window.open('https://instagram.com/thefrankemon', '_blank')">
      <object type="image/svg+xml" data="assets/ig.svg"></object>
    </div>
  </div>
</div>
<app-about></app-about>
<app-workxp></app-workxp>
