@import './floating-icons.scss';

:host {
  display: flex;
  flex-direction: column;
}

.blurry {
  .titles,
  img {
    opacity: 0;
  }

  object {
    opacity: 0.5;
  }
}

.anim-gradient {
  position: fixed;
  top: -70vh; right: -70vw; bottom: -70vh; left: -70vw;
  background-image: linear-gradient(300deg, #e804af 20%, #232626 60%);
  animation: rotate-gradient linear 10s infinite;
}

@keyframes rotate-gradient {
  to { transform: rotate(360deg) }
}

.header {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: var(--light-color);
  background: var(--main-bg-color);
  transition: background-position ease-in-out 1s;

  &.high-contrast {
    background: var(--main-bg-color-later);
    background-position: 0px;
  }

  .dsg-mode {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    > img {
      position: absolute;
      height: 95%;
      width: auto;
      right: 90px;
      transition: opacity ease-in-out 0.5s;
    }

    .content {
      margin-right: 5%;

      .tray {
        @extend .floating-icons-container;
        
        object {
          @extend .floating-icon;
        }
      }
    }

    .titles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 150px;
      margin-left: 180px;
      position: absolute;
      z-index: 5; //in-between floating icons
      transition: opacity ease-in-out 0.5s;
  
      .f-hello, .f-name {
        color: var(--text-light);
        font-size: 70px;
      }

      .f-name {
        font-weight: 100;
      }

      .f-subtitle {
        font-size: 30px;
        text-transform: uppercase;
        transform: translate(15px, -12px) rotateZ(-3deg);
        background-color: goldenrod;
        font-family: 'Courier New', Courier, monospace;
        color: var(--text-dark);
      }
    }
  }
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 68%;
}

.header-footer {
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: var(--section-break-bg-color);
  clip-path: polygon(10% 70%, 90% 90%, 100% 0%, 100% 100%, 0% 100%);

  app-sm-icons {
    position: absolute;
    bottom: 0px;
    left: 10%;
  }
}

// MOBILE
@media screen and (max-width: 480px) {
  .header .dsg-mode {
    .titles {
      margin-top: 120px;
      margin-left: 20px;

      .f-hello {
        font-size: 50px;
      }

      .f-subtitle {
        font-size: 24px;
        transform: translate(15px, -18px) rotateZ(-3deg);
        max-width: 270px;
      }
    }

    > img {
      right: -240px;
      height: 80%;
      opacity: 0.2;
    }
  }

  .header-footer app-sm-icons {
    bottom: 10px;
  }
}
