
:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.passport-title {
  margin: 100px 50px 0px;
  color: var(--text-light);
}

.passport-item-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 50px;
  gap: 10px;
  position: relative;
}

.passport-item {
  width: 240px;
  height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: clip-path ease-in-out 0.25s;

  &:nth-child(odd) {
    clip-path: polygon(0% 0%, 100% 5%, 90% 95%, 5% 100%);
  }
  &:nth-child(even) {
    clip-path: polygon(5% 0%, 95% 5%, 100% 95%, 0% 100%);
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px) brightness(0.5);
    transition: backdrop-filter ease-in-out 0.25s;
  }

  &:not(.disabled):hover {
    clip-path: polygon(0% 5%, 95% 0%, 95% 100%, 10% 95%);
    cursor: pointer;

    h3 {
      font-size: 24px;
    }

    &::before {
      backdrop-filter: blur(3px) brightness(0.8);
    }
  }

  &.disabled {
   filter: grayscale(1);
  }

  h3 {
    color: var(--text-light);
    font-size: 20px;
    z-index: 0;
    text-shadow: 0px 0px 20px var(--text-dark);
    transition: font-size ease-in-out 0.25s;
  }
}

.under-construction {
  position: absolute;
  background-color: goldenrod;
  font-weight: bold;
  left: 505px;
  top: 90px;
  transform: rotateZ(-5deg);
  clip-path: polygon(0.5% 0%, 96% 0%, 96% 100%, 0.4% 100%);
  border: dashed;
}

// MOBILE
@media screen and (max-width: 480px) {
  .passport-item-container {
    gap: 20px;
  }

  .passport-item {
    width: 100%;
    height: 156px;
  }

  .under-construction {
    left: -10px;
    top: unset;
    bottom: 150px;
    transform: rotateZ(-58deg);
    clip-path: polygon(0.5% 0%, 97% 0%, 100% 100%, 4.4% 100%);
    text-wrap: nowrap;
    max-width: 400px;
  }
}
