<div class="workxp-header">
  <h1 class="fkmn-section-title">
    Experience
    ➜
  </h1>
</div>
<div class="workxp-wrapper">
  <div class="work">
    <div class="xp-section">
      <h1 class="opacity-title">Work</h1>

      <!-- 🔶 Work turn dynamic -->
      <div class="xp-item" [id]="item.id" *ngFor="let item of jobs">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h2 class="xp-title"><div class="flag"></div>{{ item.title }}</h2>
          <p class="xp-dates">{{ item.dates }}</p>
          <p class="xp-detail">
            <ng-container *ngFor="let line of item.detail; index as i">
              • {{line}}
              <br *ngIf="i < item.detail.length"/>
            </ng-container>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="nowork">
    <div class="xp-section study">
      <h1 class="opacity-title">Studies</h1>

      <!-- 🔶 Studies turn dynamic -->
      <div class="xp-item" [id]="item.id" *ngFor="let item of studies">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h2 class="xp-title">{{ item.title }}</h2>
          <p class="xp-dates">{{ item.dates }}</p>
          <p class="xp-detail">
            <ng-container *ngFor="let line of item.detail; index as i">
              <ng-container *ngIf="item.firstElemIsGold && i === 0 else commonLabel">
                <span class="gold-label">• {{line}}</span>
              </ng-container>
              <ng-template #commonLabel>
                • {{line}}
              </ng-template>
              <br *ngIf="i < item.detail.length"/>
            </ng-container>
          </p>
        </div>
      </div>
    </div>
    <div class="xp-section misc">
      <h1 class="opacity-title">Org</h1>
      <div class="xp-item" id="gdg">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h2 class="xp-title">Google Developers Group Cochabamba</h2>
          <p class="xp-dates">Apr 2015 - Jan 2019</p>
          <p class="xp-detail">
            Community Organizer<br/>
            Active member, speaker and designer
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="xp-section skills-wrapper">
  <h1 class="opacity-title">Skills</h1>
  <!-- 🔶 Skills turn dynamic -->
  <section [id]="item.id" *ngFor="let item of skills">
    <div class="stone-wrap" [style.filter]="'drop-shadow(5px 0px 10px ' + item.accentColor + 'CC) drop-shadow(-5px 0px 10px ' + item.accentColor + 'CC)'">
      <div class="stone" [ngStyle]="{
        'background-color': item.accentColor,
        'clip-path': 'polygon(0% 90%, 20% 30%, 60% 0%, 100% 90%, 50% 100%)'
      }"></div>
      <div class="logo" [style.background-image]="'url(\'/assets/skills/' + item.id + '.png\')'"
      ></div>
    </div>
    <div class="skill-content">
      <h1 [ngStyle]="{
        background: 'linear-gradient(80deg, ' + item.accentColor + ' 0%, #FFFFFF 50%, #FFFFFF 100%)',
        '-webkit-background-clip': 'text',
        '-webkit-text-fill-color': 'transparent'
      }">{{ item.title }}</h1>
      <div class="scrolling-feats">
        <span>
          <ng-container *ngFor="let label of item.skillLine1; index as i">
            {{label}}
            <ng-container *ngIf="i+1 < item.skillLine1.length">
              &nbsp;•&nbsp;
            </ng-container>
          </ng-container>
        </span>
      </div>
      <div class="scrolling-feats">
        <span>
          <ng-container *ngFor="let label of item.skillLine2; index as i">
            {{label}}
            <ng-container *ngIf="i+1 < item.skillLine2.length">
              &nbsp;•&nbsp;
            </ng-container>
          </ng-container>
        </span>
      </div>
    </div>
  </section>
</div>
<div class="header-footer">
</div>
