<div class="about-header">
  <h1>
    Experience
    ➜
  </h1>
</div>
<div class="about-wrapper">
  <div class="work">
    <div class="xp-section">
      <h1 class="opacity-title">Work</h1>
      <div class="xp-item" id="witco">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h3 class="xp-title"><div class="flag"></div>Witco (formerly Monbuilding)</h3>
          <p class="xp-dates">Sep 2018 - Present</p>
          <p class="xp-detail">
            Lead Web UI Developer on Sass + Angular.<br/>Frontend Developer on Angular.
          </p>
        </div>
      </div>
      <div class="xp-item" id="ancestral">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h3 class="xp-title"><div class="flag"></div>Ancestral Gods</h3>
          <p class="xp-dates">Jan 2018 - Jun 2018</p>
          <p class="xp-detail">
            Videogame developer trainee on Unity3D & C#.
          </p>
        </div>
      </div>
      <div class="xp-item" id="impeller">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h3 class="xp-title"><div class="flag"></div>Impeller Studios</h3>
          <p class="xp-dates">Jul 2016 - Jul 2017</p>
          <p class="xp-detail">
            Co-leader of local web videogame development team, using Phaser and team training on Git.
          </p>
        </div>
      </div>
      <div class="xp-item" id="assure">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h3 class="xp-title"><div class="flag"></div>AssureSoft</h3>
          <p class="xp-dates">Jan 2017 - Feb 2017</p>
          <p class="xp-detail">
            Research Assistant intern on a CI tools POC.<br/>Angular Material 2 web components development.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="nowork">
    <div class="xp-section study">
      <h1 class="opacity-title">Studies</h1>
      <div class="xp-item" id="upb">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h3 class="xp-title">Universidad Privada Boliviana</h3>
          <p class="xp-dates">Feb 2013 - Dec 2018</p>
          <p class="xp-detail">
            <span class="gold-label">Computer Software Engineer</span><br/>
            Honorable mention on directed-work thesis<br/>
            Career representative on University's 2016 student society
          </p>
        </div>
      </div>
      <div class="xp-item" id="cba">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h3 class="xp-title">Centro Boliviano Americano</h3>
          <p class="xp-dates">Jan 2004 - Feb 2008</p>
          <p class="xp-detail">
            Certificate of Intermediate-Superior Program for Teenagers.<br/>
            Completion Diploma of Children’s English Program.
          </p>
        </div>
      </div>
    </div>
    <div class="xp-section misc">
      <h1 class="opacity-title">Org</h1>
      <div class="xp-item" id="gdg">
        <div class="img-holder"></div>
        <div class="xp-content">
          <h3 class="xp-title">Google Developers Group Cochabamba</h3>
          <p class="xp-dates">Apr 2015 - Jan 2019</p>
          <p class="xp-detail">
            Community Organizer<br/>
            Active member, speaker and designer
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
