:host {
  min-height: 100vh;
  background-color: #061292d1;
  z-index: 1;
  margin-top: -1px;
  position: relative;
}

.about-header {
  display: flex;
  height: 30vh;
  background-color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 60% 80%, 40% 50%, 0% 100%);

  h1 {
    margin: 90px 30px 0px;
  }
}

.about-wrapper {
  display: flex;
  margin: 40px 70px;
}

.work,
.nowork {
  flex: 1;
  transform: skewY(352deg);
}

.nowork {
  display: flex;
  flex-direction: column;
}

.xp-section {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  background-color: #ffffff26;
  position: relative;
}

.nowork-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.opacity-title {
  position: absolute;
  top: 0px;
  margin-top: -56.5px;
  color: #ffffff26;
  font-size: 60px;
}

.xp-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  transition: box-shadow cubic-bezier(0.65, 0.05, 0.36, 1) 0.5s;

  &:hover {
    box-shadow: inset -8px 8px 20px 4px #99AAFFBF;

    .img-holder,
    .xp-content {
      transform: translate(-10px, -10px);
    }

    .xp-dates,
    .xp-detail {
      max-height: 300px;
      opacity: 1;
    }

    .xp-detail {
      margin-top: 10px;
    }
  }
}

.img-holder,
.xp-content {
  transition: transform ease-in-out 0.5s;
}

.img-holder {
  width: 150px;
  height: 90px;
  background-size: cover;
  flex-shrink: 0;
}

.xp-content {
  padding: 0px 20px;
  border-left: 1px solid #FFFFFF;

  .xp-title {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
  }

  .flag {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FFF;
    margin-right: 5px;
    flex-shrink: 0;
    background-position: center;
  }

  .xp-dates,
  .xp-detail {
    max-height: 0px;
    opacity: 0;
    transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.5s;
  }

  .xp-dates {
    color: #FFFFFFB3;
  }

  .xp-detail {
    color: #FFF;
  }

  .gold-label {
    background: linear-gradient( 186deg, #462523 0, #cb9b51 22%,  #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#witco {
  .img-holder {
    background-image: url('/assets/xp/witco-w.png');
  }

  .flag {
    background-image: url('https://flagcdn.com/h20/fr.jpg');
  }
}

#ancestral {
  .img-holder {
    background-image: url('/assets/xp/ag-w.png');
  }

  .flag {
    background-image: url('https://flagcdn.com/h20/bo.jpg');
  }
}

#impeller {
  .img-holder {
    background-image: url('/assets/xp/imp-w.png');
  }

  .flag {
    background-image: url('https://flagcdn.com/h20/us.jpg');
  }
}

#assure {
  .img-holder {
    background-image: url('/assets/xp/as-w.png');
  }

  .flag {
    background-image: url('https://flagcdn.com/h20/bo.jpg');
  }
}

#upb .img-holder {
  background-image: url('/assets/xp/upb-w.png');
}

#cba .img-holder {
  background-image: url('/assets/xp/cba-w.png');
}

#gdg .img-holder {
  background-image: url('/assets/xp/gdg-w.png');
}

.skills-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

  section {
    display: flex;
    align-items: center;
    margin: 20px;

    &:nth-child(odd) {
      margin-left: 20%;
    }
    &:nth-child(even) {
      margin-left: -20%;
    }

    .stone-wrap {
      position: relative;

      .stone {
        width: 200px;
        height: 200px;
      }

      .logo {
        width: 120px;
        height: 120px;
        position: absolute;
        background-size: contain;
        top: 60px;
        left: 40px;
      }
    }
  }
}

.skill-content {
  h1 {
    font-size: 50px;
    background: #FFFFFF;
  }

  .scrolling-feats {
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 40px;
  }
}

.header-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30vh;
  background-color: white;
  clip-path: polygon(0% 10%, 10% 30%, 40% 40%, 70% 70%, 80% 40%, 100% 80%, 100% 100%, 0% 100%);
}
